<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rohit</title>
</head>
<body>
    <center><h1>Rohit is the Best opener Batsman<h1 style="color: blue;">HIT-MAN</h1></center>
    <h1 style="color:rgb(30, 42, 42); padding:50px;"><marquee behaviour="alternate" direction="left">Best Batsman in India and Good Captain</marquee></h1>
    <h1><marquee behavior="alternate" direction="right">India Opening batsman</marquee></h1>
</body>
</html>