<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virat page</title>
</head>
<body>
    <center><h1>Virat is the Good Batsman<h1 style="color: rgb(255, 0, 38)">Perfect style</h1></center>
    <h1 style="color:rgb(15, 139, 139); padding:50px;"><marquee behaviour="alternate" direction="left">Best Batsman in India and Good fileder</marquee></h1>
    <h1><marquee behavior="alternate" direction="right">India Onedown batsman</marquee></h1>
</body>
</html>